body{
	background-color:#000000;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #ffffcc;
	background-image: url("indexpics/city.jpg");
	background-size: 100% ;
    background-repeat: no-repeat;
}

h1 {
	font-size: 1.3em;
	text-align: center;
	
}
a:link, a:visited {
    background-color: #105268;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    color: white;
    background-color: gray;
}

table {
	
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;

	

}

td {
	vertical-align: middle;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color: gray;
	background-color: rgba(155, 155, 155, 0.5);
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
