*{
    background-color:#dddddd;
}
.header-block{
    height:400px;
    width:400px;
    border-radius:25px;
    color:#eeeeee;
    background-color:#00264d;
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
    font-size:50px;
    display:inline-block;
    margin:10px 10px 10px 10px;
    align:center


}

.header-title{
    font-family: Helvetica,Arial,sans-serif;
    font-size:80px;
    color:#eeeeee;
    background-color:rgba(100,100,100,0);
}

.header-text{
    font-family: Helvetica,Arial,sans-serif;
    font-size:35px;
    color:#eeeeee;
    background-color:rgba(100,100,100,0);
}